<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forfoodiesbyfoodies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="For Foodies by Foodies"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForFoodiesByFoodies"
        android:windowSoftInputMode="stateVisible|adjustPan">
        <activity android:name=".SfReviewList"></activity>
        <activity android:name=".Dashboard" />
        <activity android:name=".Profile" />
        <activity android:name=".RestaurantWriteReview" />
        <activity android:name=".RestaurantAbout" />
        <activity android:name=".Login" />
        <activity android:name=".RestaurantListOfRestaurants" />
        <activity android:name=".RestaurantListOfReviews" />
        <activity android:name=".RestaurantAddNewRestaurant" />
        <activity android:name=".SfAbout" />
        <activity android:name=".SfAddNewPlace" />
        <activity android:name=".SfListOfStreetFoods" />
        <activity android:name=".SfWriteReview" />
        <activity android:name=".Registration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>